In [1]:
#Q1
a="neha"
b=[10,"neha",8,9,10,"a"]
c=9.82
d=(14,5,"neha",1,6)

In [2]:
var1=''
type(var1)

str

In [3]:
var2='[DS,ML,PYTHON]'
type(var2)

str

In [4]:
var3=['DS','ML','PYTHON']
type(var3)

list

In [5]:
var4=1.
type(var4)

float

In [6]:
#Q3
#(i)/ is used for division 
#given in below eg
6/2

3.0

In [7]:
#Q3
#(ii)% is used for modulus to get the value in remainder
#given in below eg

9%4

1

In [8]:
#Q3
#(iii)// is used  to get quotient value 
#given in below eg

10//3

3

In [9]:
#Q3
#(iv)// is used  as power operator 
#given in below eg

2**3

8

In [2]:
#Q4
l=[1,"a",8,9,5,6.0,7,"nn",2.0,10]
i=1
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
a
<class 'str'>
8
<class 'int'>
9
<class 'int'>
5
<class 'int'>
6.0
<class 'float'>
7
<class 'int'>
nn
<class 'str'>
2.0
<class 'float'>
10
<class 'int'>

In [8]:
#Q5
A = int(input("Enter the first number: "))
B = int(input("Enter the second number: "))

count = 0 

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"B divides A : {count} times.")
else:
    print(f"B does not divide A purely.")

Enter the first number:  95
Enter the second number:  2

B does not divide A purely.

In [10]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
i=1
for i in l:
    if i%3==0:
        print (f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [12]:
# An immutable object is an object whose value cannot be changed once it is created. 
#Any operation that appears to modify an immutable object actually creates a new object with the modified value.
# Creating a tuple
my_tuple = (1, 7,"H")


# Trying to change the first element of the tuple
my_tuple[0] = 8

In [13]:
#A mutable object, on the other hand, is an object whose value can be changed once it is created. 
#Examples of mutable data types in Python include lists, dictionaries, and sets.

# Creating a list
my_list = [1, 2, "H"]

# Changing the first element of the list
my_list[0] = 8

print(my_list)

[8, 2, 'H']

In [25]:


my_list = [1, 2, 3]

new_list = my_list

new_list.append(4)

print(my_list)

[1, 2, 3, 4]